{% extends "base.html" %}
{% block title %}Загрузить{% endblock title %}
{% block content %}
  <main>
    <section class="container my-5">
      <div class="row">
        <h1>Загрузить изображение</h1>
        <div class="col-12 col-lg-7 my-5">
          <form method="post" action="image_create" enctype="multipart/form-data">
            <label class="fs-4" for="filename">Имя изображения:</label>
            <input class="form-control py-3 mb-3" type="text" name="filename" id="filename" required>
            <br>
            <label class="fs-4" for="project_id">ID проекта:</label>
            <input class="form-control py-3 mb-3"  type="number" name="project_id" id="project_id" required>
            <br>
            <label for="file" class="form-label fs-4">Выберите файл:</label>
          <input class="form-control" type="file" name="image" /><br />
            <br>
            <input class="btn btn-outline-primary" type="submit" value="Получить ссылку" />
          </form>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}